.ipynb_checkpoints
*/.ipynb_checkpoints/*

models/cifar10_data/cifar-10-batches-py
models/cifar10_data/cifar-10-python.tar.gz

federated_learning/ecg/ecg_fd.pth
federated_learning/cifar10/cifar10_fd_mobile.pth

split_learning/ecg/ecg_sp_server.pth
split_learning/ecg/ecg_sp_client.pth
split_learning/cifar10/cifar10_sp_resnet20_client.pth

ensemble_learning/ecg/ecg_es_model0.pth
ensemble_learning/ecg/ecg_es_model1.pth
ensemble_learning/ecg/ecg_es_model2.pth