.ipynb_checkpoints
*/.ipynb_checkpoints/*

federated_learning/ecg_fd.pth

split_learning/ecg_sp_server.pth
split_learning/ecg_sp_client.pth

ensemble_learning/ecg_es_model0.pth
ensemble_learning/ecg_es_model1.pth
ensemble_learning/ecg_es_model2.pth